html {
    font-family: "Roboto", sans-serif;
}

body {
    margin: 0;
    background-color: whitesmoke;
}

header{
    background-color: #c70000;
    color: white;
    padding: 3rem 2rem;
}

header h1 {
    font-size: 4rem;
    text-align: center;
}

.container {
    width: 400px;
    margin: 0 auto;/*esto le da la centrada al contenido*/
}

section article {
    transition: box-shadow 0.3s ease;/*sirve para animar la transicion de la sombra para que esta no sea
    tan brusca se le indica la animacion, los segundos que quieres de retardo y si es hacia afuera o hacia adentro el sombreado
    y si seleccionamos all en vez de box-shadow se encarga de todas las animaciones que tiene 
    esta etiqueta*/
    background-color: white;
    margin: 1rem 0;
    border-radius: 0.5rem;
    padding: 0.25rem 0;
    cursor: pointer;
}

section article:hover{
    box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.3);
}

section article h2, section article p { /*con la coma, elegimos varios selectores*/
    margin: 1rem;
}

footer {
    background-color: #c70000;
    color: white;
    padding: 2rem;
}

footer section {
    float: right;
}

footer p {
    margin: 0;
    font-size: 15px;
}

footer a {
    transition: color 0.3s ease;
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: black;
}

section article .parrafo {
    background-color: #c70000;
    margin: 0rem 0rem;
    color: white;
    position: sticky;
    text-align: left;
    padding: 0.5rem 0.5rem;
}